<div id="div1" *ngIf="entities">
  <div id="row1">
    <div id="tab1">
      List of all locations
      <m-table id="table1" [value]=entities [selectable]="true" [selectionHandler]="true"
               [selectionMode]="'single'"  [(selection)]="selectedRows"
               (selectionChange)="rowSelected();">
        <m-header title="Locations" [colSetting]="true" [globalSearch]="true"
                  [export]="true" [reload]="true">
        </m-header>
        <m-footer [paginator]="true" [pageSize]="8" [pageSizeOptions]="[4, 8, 12]"></m-footer>
        <m-column field="building" header="Building" [sortable]="true"></m-column>
        <m-column field="room" header="Room" [sortable]="true"></m-column>
        <m-column field="rack" header="Rack" [sortable]="true"></m-column>
      </m-table>
    </div>

    <div id="col1">
      Create / Update location
      <mat-card class="f">
        <mat-card-header class="firstform" color="primary">
          <mat-card-title>
            <button title="Click to create new location!" (click)="create();" mat-icon-button class="btn btn-outline-light">
              <mat-icon>add</mat-icon>
            </button> &nbsp;
            <button title="Click to update location!" (click)="edit();" mat-icon-button color="accent" class="btn btn-outline-light">
              <mat-icon>edit</mat-icon>
            </button> &nbsp;
            <button title="Click to delete location!" (click)="delete();" mat-icon-button color="warn" class="btn btn-outline-light">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content id="form">
          <form (submit)="submit()">
            <formly-form [model]="entity" [form]="form" [fields]="fields"></formly-form>
          </form>
        </mat-card-content>
        <mat-card-actions class="secondform">
          <button *ngIf="mode !== 'DETAILS'" type="submit" (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
