<div id="div1" *ngIf="entities">
  <div id="row1">
    <div id="tab1">
      List of all networks
      <m-table id="table1" [value]=entities [selectable]="true" [selectionHandler]="true"
               [selectionMode]="'single'"  [(selection)]="selectedRows"
               (selectionChange)="rowSelected();">
        <m-header title="Networks" [colSetting]="true" [globalSearch]="true"
                  [export]="true" [reload]="true">
        </m-header>
        <m-footer [paginator]="true" [length]="entities.length" #paginator [pageSize]="4" [pageSizeOptions]="[4, 8, 12]"></m-footer>
        <m-column field="name" header="Name" [sortable]="true"></m-column>
        <m-column field="description" header="Description" [sortable]="true"></m-column>
      </m-table>
    </div>

    <div id="col1">
     Create / Update network
    <mat-card class="f">
      <mat-card-header class="firstform" color="primary">
        <mat-card-title>
          <button title="Click to create new network!" (click)="create();" mat-icon-button class="btn btn-outline-light">
            <mat-icon>add</mat-icon>
          </button> &nbsp;
          <button title="Click to update network!" (click)="edit();"
                  mat-icon-button class="btn btn-outline-light" color="accent">
            <mat-icon>edit</mat-icon>
          </button> &nbsp;
          <button title="Click to delete network!" (click)="delete();" mat-icon-button class="btn btn-outline-light" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-title>

      </mat-card-header>
      <mat-card-content id="form">
        <form (submit)="submit()">
          <formly-form [model]="entity" [form]="form" [fields]="fields"></formly-form>
          <mat-form-field id="select" *ngIf="mode !== 'DETAILS'">
            <mat-select placeholder="Assets" name="assets"
                        [multiple]="true" #multiSelect
                        [compareWith]="compareFunc"
                        [formControl]="multipleCtrl">
              <mat-option>
                <ngx-mat-select-search [formControl]="selectFilterCtrl"
                                       [placeholderLabel]="'Search for asset'"
                                       [noEntriesFoundLabel]="'No matching asset found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let element of filteredSelectList | async" [value]="element">
                {{element.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        </mat-card-content>
      <mat-card-actions class="secondform">
        <button *ngIf="mode !== 'DETAILS'" type="submit" (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>

    <div id="row2">
      <hr>
      <div>
      List of assets in <i>{{entity.name}}</i> network
      <m-table id="tab2" [value]=entity.assets [selectable]="false" [selectionHandler]="false">
        <m-footer [paginator]="true" [pageSize]="2" [pageSizeOptions]="[2]">
          <ng-template>
            <button *ngIf="selectedRows.length > 0" title="Click to create new hardware asset!"
                    (click)="openHardwareADialog();" mat-stroked-button class="btn btn-outline-success">
              + Hardware
            </button> &nbsp;
            <button *ngIf="selectedRows.length > 0" title="Click to create new software asset!" (click)="openSoftwareADialog();" mat-stroked-button class="btn btn-outline-success">
              + Software
            </button> &nbsp;
            <button *ngIf="selectedRows.length > 0" title="Click to create new virtual asset!" (click)="openVirtualADialog();" mat-stroked-button class="btn btn-outline-success">
              + Virtual
            </button> &nbsp;
            <button *ngIf="selectedRows.length > 0" title="Click to create new data asset!" (click)="openDataADialog();" mat-stroked-button class="btn btn-outline-success">
              + Data
            </button>
          </ng-template>
        </m-footer>
        <m-column field="name" header="Name" [sortable]="true"></m-column>
        <m-column field="description" header="Description" [sortable]="true"></m-column>
        <m-column field="dtype" header="Subtype" [sortable]="true"></m-column>
        <m-column field="type" header="Type" [sortable]="true"></m-column>
        <m-column field="created" header="Created" [sortable]="true">
          <ng-template let-row="row" mTemplate="body">
            {{row.created | date : 'mediumDate'}}
          </ng-template>
        </m-column>
      </m-table>
      </div>
  </div>
</div>
