m-table {
  white-space: nowrap;
  cursor: pointer;
}

.mat-card-header{
  background-color:#673ab7 !important;
  padding:5px !important;
}


hr {
  background-color: #673ab7 !important;
  opacity: 0.5;
}

#col1 {
  width: 30% !important;
}

.mat-card{
  padding:0 !important;

  margin-bottom: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mat-card-content{
  position: relative;
  padding:5px !important;
  max-height: 250px !important;
  overflow-y: auto !important;
}

.mat-card-actions {
  margin-bottom:5px !important;
  position: relative;
  left: 25px;
}

#tab1 {
  flex-basis: 60%;
  max-width: 60%;
}

#table1 {
  height: 380px !important;
  overflow-y: auto;
  overflow-x: auto;
}

#tab2 {
  height: 260px !important;
  overflow-y: auto;
}


#row1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 380px !important;
  width: 100% !important;
  align-items: stretch;
  justify-content: space-evenly;
}

#row2 {
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
  max-height: 250px;
  overflow-y: hidden;
}

#div1 {
  position: absolute;
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: hidden !important;
}
