<div *ngIf="flag">
  <h2 mat-dialog-title>Add hardware asset</h2>

  <mat-dialog-content>
    <form (submit)="submit()">
      <formly-form [model]="entity" [form]="form" [fields]="fields"></formly-form>
      <mat-form-field id="selectType">
        <mat-select placeholder="Type" name="type" [(ngModel)]="entity.type" #singleSelectType>
          <mat-option>
            <ngx-mat-select-search [formControl]="selectFilterCtrlType"
                                   [placeholderLabel]="'Search for type'"
                                   [noEntriesFoundLabel]="'No matching type found'"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let element of filteredSelectListType | async;let i = index" [value]="element">
            <mat-checkbox [checked]="selectedType === i" (change)="selectedType = i"> {{element}}</mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field> &nbsp;
      <mat-form-field id="selectLocation">
        <mat-select placeholder="Location" name="location" [(ngModel)]="entity.location">
          <mat-option>
            <ngx-mat-select-search [formControl]="selectFilterCtrlLocation"
                                   [placeholderLabel]="'Search for location'"
                                   [noEntriesFoundLabel]="'No matching location found'"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let element of filteredSelectListLocation | async;let i = index" [value]="element">
            <mat-checkbox [checked]="selectedLocation === i" (change)="selectedLocation = i"> {{element.room}} [{{element.building}}]</mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field> &nbsp;
      <mat-form-field id="select">
        <mat-select placeholder="Owner" name="owner" [(ngModel)]="entity.owner" #singleSelect>
          <mat-option>
            <ngx-mat-select-search [formControl]="selectFilterCtrl"
                                   [placeholderLabel]="'Search for owner'"
                                   [noEntriesFoundLabel]="'No matching owner found'"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let element of filteredSelectList | async;let i = index" [value]="element">
            <mat-checkbox [checked]="selected === i" (change)="selected = i"> {{element.firstName}} {{element.lastName}}</mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field> &nbsp;
      <mat-form-field id="selectSecurityValues">
        <mat-select placeholder="Security goal values" name="secGoalValues"
                    [multiple]="true" #multiSelect
                    [compareWith]="compareFunc"
                    [formControl]="multipleCtrl">
          <mat-option>
            <ngx-mat-select-search [formControl]="selectFilterCtrlSecurityValues"
                                   [placeholderLabel]="'Search for goal values'"
                                   [noEntriesFoundLabel]="'No matching goal value found'"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let element of filteredSelectListSecurityValues | async" [value]="element">
            {{element.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button> &nbsp;
    <button type="submit" (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
  </mat-dialog-actions>
</div>
