<mat-toolbar color="primary">
  <mat-toolbar-row>
  <button mat-button [matMenuTriggerFor]="assets">
    Assets
  </button>
  <mat-menu #assets="matMenu" xPosition="before">
    <button mat-menu-item (click)="assetsList();">Assets</button>
    <button mat-menu-item (click)="assetsHardwareList();">Hardware assets</button>
    <button mat-menu-item (click)="assetsSoftwareList();">Software assets</button>
    <button mat-menu-item (click)="assetsVirtualList();">Virtual assets</button>
    <button mat-menu-item (click)="assetsDataList();">Data assets</button>
  </mat-menu>

  <button mat-button (click)="networkList();">
    Networks
  </button>
  <button mat-button (click)="goalList();">
    Security Goals
  </button>
  <button mat-button (click)="goalValueList();">
  Security Goal Values
  </button>
  <button mat-button (click)="measureList();">
    Security Measures
  </button>

  <button mat-button (click)="measureTypeList();">
    Security Measure Types
  </button>

  <button mat-button (click)="locationList();">
    Locations
  </button>

  <button mat-button (click)="ownerList();">
    Owners
  </button>

  <button mat-button [matMenuTriggerFor]="reports">
    Reports
  </button>
  <mat-menu #reports="matMenu" xPosition="after">
    <button mat-menu-item (click)="customRList();">Custom</button>
    <button mat-menu-item (click)="securityRList();">Security</button>
    <button mat-menu-item (click)="creationDateRList();">Creation Date</button>
    <button mat-menu-item (click)="ownerRList();">Owner</button>
    <button mat-menu-item (click)="networkRList();">Network</button>
  </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
