<mat-dialog-content>
  <m-table [value]=entities [selectable]="false" [selectionHandler]="false">
    <m-header title="Assets that satisfy report criteria" exportFilename="report"
              [export]="true" [colSetting]="false">
    </m-header>
    <m-column field="name" header="Name" [sortable]="true"></m-column>
    <m-column field="description" header="Description" [sortable]="true"></m-column>
    <m-column field="dtype" header="Subtype" [sortable]="true"></m-column>
    <m-column field="type" header="Type" [sortable]="true"></m-column>
  </m-table>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
