<div id="div1" *ngIf="entities">
  <div id="row1">
    <div id="tab1">
      List of all security measure types
      <m-table id="table1"  [value]=entities [selectable]="true" [selectionHandler]="true"
               [selectionMode]="'single'"  [(selection)]="selectedRows"
               (selectionChange)="rowSelected();">
        <m-header title="Security Measure Types" [colSetting]="true" [globalSearch]="true"
                  [export]="true" [reload]="true">
        </m-header>
        <m-footer [paginator]="true" [pageSize]="8" [pageSizeOptions]="[4, 8, 12]"></m-footer>
        <m-column field="name" header="Name" [sortable]="true"></m-column>
        <m-column field="description" header="Description" [sortable]="true"></m-column>
        <m-column field="type" header="Type" [sortable]="true"></m-column>
      </m-table>
    </div>

    <div id="col1">
      Create / Update security measure type
      <mat-card class="f">
        <mat-card-header class="firstform" color="primary">
          <mat-card-title>
            <button title="Click to create new security measure type!" (click)="create();" mat-icon-button class="btn btn-outline-light">
              <mat-icon>add</mat-icon>
            </button> &nbsp;
            <button title="Click to update security measure type!" (click)="edit();" mat-icon-button color="accent" class="btn btn-outline-light">
              <mat-icon>edit</mat-icon>
            </button> &nbsp;
            <button title="Click to delete security measure type!" (click)="delete();" mat-icon-button color="warn" class="btn btn-outline-light">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content id="form">
          <form (submit)="submit()">
            <formly-form [model]="entity" [form]="form" [fields]="fields"></formly-form>
            <mat-form-field id="selectType" *ngIf="mode !== 'DETAILS'">
              <mat-select placeholder="Type" name="type" [(ngModel)]="entity.type" #singleSelect>
                <mat-option>
                  <ngx-mat-select-search [formControl]="selectFilterCtrl"
                                         [placeholderLabel]="'Search for type'"
                                         [noEntriesFoundLabel]="'No matching type found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredSelectList | async;let i = index" [value]="element">
                  <mat-checkbox [checked]="selectedType === i" (change)="selectedType = i"> {{element}}</mat-checkbox>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions class="secondform">
          <button *ngIf="mode !== 'DETAILS'" type="submit" (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
