<div *ngIf="flag">
  <h2 mat-dialog-title>Add security goal value</h2>

  <mat-dialog-content>
    <form (submit)="submit()">
      <formly-form [model]="entity" [form]="form" [fields]="fields"></formly-form>
      <mat-form-field id="select">
        <mat-select placeholder="Goal" name="type" [(ngModel)]="entity.securityGoal" #singleSelect>
          <mat-option>
            <ngx-mat-select-search [formControl]="selectFilterCtrl"
                                   [placeholderLabel]="'Search for goal'"
                                   [noEntriesFoundLabel]="'No matching goal found'"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let element of filteredSelectList | async;let i = index" [value]="element">
            <mat-checkbox [checked]="selected === i" (change)="selected = i"> {{element.name}}</mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field> &nbsp;
      <mat-form-field>
        <mat-select placeholder="Security measures" name="secMeasures"
                    [multiple]="true" #multiSelect
                    [compareWith]="compareFunc"
                    [formControl]="multipleCtrl">
          <mat-option>
            <ngx-mat-select-search [formControl]="selectFilterCtrlMeasure"
                                   [placeholderLabel]="'Search for measure'"
                                   [noEntriesFoundLabel]="'No matching measure found'"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let element of filteredSelectListMeasure | async" [value]="element">
            {{element.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button> &nbsp;
    <button type="submit" (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
  </mat-dialog-actions>
</div>
