<div id="div1" *ngIf="entities">
  <div id="row1">
    <div id="tab1">
      List of all owners
      <m-table  id="table1" [value]=entities [selectable]="true" [selectionHandler]="true"
                [selectionMode]="'single'"  [(selection)]="selectedRows"
                (selectionChange)="rowSelected();">
        <m-header [colSetting]="true" [globalSearch]="true"
                  [export]="true" [reload]="true" title="Owners"></m-header>
        <m-footer [paginator]="true" [pageSize]="8" [pageSizeOptions]="[4, 8, 12]"></m-footer>
        <m-column field="firstName" header="First Name" [sortable]="true"></m-column>
        <m-column field="middleName" header="Middle Name" [sortable]="true"></m-column>
        <m-column field="lastName" header="Last Name" [sortable]="true"></m-column>
        <m-column field="phoneNumber" header="Phone Number" [sortable]="true"></m-column>
        <m-column field="employeeId" header="Employee Id" [sortable]="true"></m-column>
      </m-table>
    </div>

    <div id="col1">
      Create / Update owner
      <mat-card class="f">
        <mat-card-header class="firstform" color="primary">
          <mat-card-title>
            <button title="Click to create new owner!" (click)="create();" mat-icon-button class="btn btn-outline-light">
              <mat-icon>add</mat-icon>
            </button> &nbsp;
            <button title="Click to update owner!" (click)="edit();" mat-icon-button color="accent" class="btn btn-outline-light">
              <mat-icon>edit</mat-icon>
            </button> &nbsp;
            <button title="Click to delete owner!" (click)="delete();" mat-icon-button color="warn" class="btn btn-outline-light">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content id="form">
          <form (submit)="submit()">
            <formly-form [model]="entity" [form]="form" [fields]="fields"></formly-form>
          </form>
        </mat-card-content>
        <mat-card-actions class="secondform">
          <button *ngIf="mode !== 'DETAILS'" type="submit" (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
