/* You can add global styles to this file, and also import other style files */
md-icon {
  font-family: 'Material Icons' !important
}

.snackbar-class {
  top: 10% !important;
  color: white !important;
  background-color: red !important;
  opacity: 0.9 !important;
}

