<div *ngIf="flag">
  <h2 mat-dialog-title>Add security measure</h2>

  <mat-dialog-content>
    <form (submit)="submit()">
      <formly-form [model]="entity" [form]="form" [fields]="fields"></formly-form>
      <mat-form-field id="select">
        <mat-select placeholder="Type" name="type" [(ngModel)]="entity.type" #singleSelect>
          <mat-option>
            <ngx-mat-select-search [formControl]="selectFilterCtrl"
                                   [placeholderLabel]="'Search for type'"
                                   [noEntriesFoundLabel]="'No matching type found'"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let element of filteredSelectList | async;let i = index" [value]="element">
            <mat-checkbox [checked]="selected === i" (change)="selected = i"> {{element.name}}</mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button> &nbsp;
    <button type="submit" (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
  </mat-dialog-actions>
</div>
