<div id="div1" *ngIf="entities">
  <div id="row1">
    <div id="tab1">
      List of all security goal values
      <m-table id="table1" [value]=entities [selectable]="true" [selectionHandler]="true"
               [selectionMode]="'single'"  [(selection)]="selectedRows"
               (selectionChange)="rowSelected();">
        <m-header title="Security Goal Values" [colSetting]="true" [globalSearch]="true"
                  [export]="true" [reload]="true">
        </m-header>
        <m-footer [paginator]="true" [pageSize]="4" [pageSizeOptions]="[4, 8, 12]"></m-footer>
        <m-column field="name" header="Name" [sortable]="true"></m-column>
        <m-column field="description" header="Description" [sortable]="true"></m-column>
        <m-column field="securityGoal" header="Security Goal" [sortable]="true">
          <ng-template let-col let-row="row" mTemplate="body">
            {{row.securityGoal.name}}
          </ng-template>
        </m-column>
      </m-table>
    </div>

    <div id="col1">
      Create / Update security goal value
      <mat-card class="f">
        <mat-card-header class="firstform" color="primary">
          <mat-card-title>
            <button title="Click to create new security goal value!" (click)="create();" mat-icon-button class="btn btn-outline-light">
              <mat-icon>add</mat-icon>
            </button> &nbsp;
            <button title="Click to update security goal value!" (click)="edit();"
                    mat-icon-button class="btn btn-outline-light" color="accent" >
              <mat-icon>edit</mat-icon>
            </button> &nbsp;
            <button title="Click to delete security goal value!" (click)="delete();" mat-icon-button class="btn btn-outline-light" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content id="form">
          <form (submit)="submit()">
            <formly-form [model]="entity" [form]="form" [fields]="fields"></formly-form>
            <mat-form-field id="select" *ngIf="mode !== 'DETAILS'">
              <mat-select placeholder="Goal" name="type" [(ngModel)]="entity.securityGoal" #singleSelect>
                <mat-option>
                  <ngx-mat-select-search [formControl]="selectFilterCtrl"
                                         [placeholderLabel]="'Search for goal'"
                                         [noEntriesFoundLabel]="'No matching goal found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredSelectList | async;let i = index" [value]="element">
                  <mat-checkbox [checked]="selected === i" (change)="selected = i"> {{element.name}}</mat-checkbox>
                </mat-option>
              </mat-select>
            </mat-form-field> &nbsp;
            <mat-form-field *ngIf="mode !== 'DETAILS'">
              <mat-select placeholder="Security measures" name="secMeasures"
                          [multiple]="true" #multiSelect
                          [compareWith]="compareFunc"
                          [formControl]="multipleCtrl">
                <mat-option>
                  <ngx-mat-select-search [formControl]="selectFilterCtrlMeasure"
                                         [placeholderLabel]="'Search for measure'"
                                         [noEntriesFoundLabel]="'No matching measure found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredSelectListMeasure | async" [value]="element">
                  {{element.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions class="secondform">
          <button *ngIf="mode !== 'DETAILS'" type="submit" (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div id="row2">
    <hr>
    <div>
      List of security measures for <i>{{entity.name}}</i> security goal value
      <m-table id="tab2" [value]=entity.securityMeasures [selectable]="false" [selectionHandler]="false">
        <m-footer [paginator]="true" [pageSize]="2" [pageSizeOptions]="[2]">
          <ng-template>
            <button *ngIf="selectedRows.length > 0" title="Click to create new security measure!" (click)="openMeasuresDialog();" mat-icon-button class="btn btn-outline-success">
              <mat-icon>add</mat-icon>
            </button>
          </ng-template>
        </m-footer>
        <m-column field="name" header="Name" [sortable]="true"></m-column>
        <m-column field="description" header="Description" [sortable]="true"></m-column>
        <m-column field="type" header="Type" [sortable]="true">
          <ng-template let-col let-row="row" mTemplate="body">
            {{row.type.name}} [{{row.type.type}}]
          </ng-template>
        </m-column>
      </m-table>
    </div>
  </div>
</div>
