m-table {
  white-space: nowrap;
  cursor: pointer;
}

hr {
  background-color: #673ab7 !important;
  opacity: 0.5;
}

#tab1 {
  flex-basis: 90%;
  max-width: 90%;
}


#tab2 {
  height: 260px !important;
  overflow-y: auto;
}

#table1 {
  height: 380px !important;
  overflow-y: auto;
  overflow-x: auto;
}

#row1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 380px !important;
  width: 100% !important;
  align-items: stretch;
  justify-content: space-evenly;
}


#row2 {
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
  max-height: 250px;
  overflow-y: hidden;
}

#div1 {
  position: absolute;
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

