<div id="div1" *ngIf="entities">
  <div id="row1">
    <div id="tab1">
      List of all assets
      <m-table id="table1" [value]=entities [selectable]="true" [selectionHandler]="true"
               [selectionMode]="'single'"  [(selection)]="selectedRows"
               (selectionChange)="rowSelected();">
        <m-header title="Assets" [colSetting]="true" [globalSearch]="true"
                  [export]="true" [reload]="true">
        </m-header>
        <m-footer [paginator]="true" [pageSize]="4" [pageSizeOptions]="[4, 8, 12]"></m-footer>
        <m-column field="name" header="Name" [sortable]="true"></m-column>
        <m-column field="description" header="Description" [sortable]="true"></m-column>
        <m-column field="state" header="State" [sortable]="true"></m-column>
        <m-column field="dtype" header="Subtype" [sortable]="true"></m-column>
        <m-column field="type" header="Type" [sortable]="true"></m-column>
        <m-column field="created" header="Created" [sortable]="true">
          <ng-template let-row="row" mTemplate="body">
            {{row.created | date : 'mediumDate'}}
          </ng-template>
        </m-column>
        <m-column field="owner" header="Owner" [sortable]="true">
          <ng-template let-row="row" mTemplate="body">
            <p title="Employee ID: {{row.owner.employeeId}}">{{row.owner.firstName}} {{row.owner.lastName}}</p>
          </ng-template>
        </m-column>
      </m-table>
    </div>
  </div>
  <div id="row2">
      <hr>
      <div *ngIf="entity">
        List of security goal values in <i>{{entity.name}}</i> asset
        <m-table id="tab2" [value]=entity.securityGoalValues [selectable]="false" [selectionHandler]="false">
          <m-footer [paginator]="true" [pageSize]="2" [pageSizeOptions]="[2]">
            <ng-template>
              <button *ngIf="selectedRows.length > 0" title="Click to create new security goal value!" (click)="openDialog();" mat-icon-button class="btn btn-outline-success">
                <mat-icon>add</mat-icon>
              </button>
            </ng-template>
          </m-footer>
          <m-column field="name" header="Name" [sortable]="true"></m-column>
          <m-column field="description" header="Description" [sortable]="true"></m-column>
          <m-column field="securityGoal" header="Security Goal" [sortable]="true">
            <ng-template let-col let-row="row" mTemplate="body">
              {{row.securityGoal.name}}
            </ng-template>
          </m-column>
        </m-table>
      </div>
    </div>
</div>
