<div id="div1" *ngIf="entities">
  <div id="row1">
    <div id="tab1">
      List of all security reports
      <m-table id="table1" [value]=entities [selectable]="true" [selectionHandler]="true"
               [selectionMode]="'single'"  [(selection)]="selectedRows"
               (selectionChange)="rowSelected();">
        <m-header title="Security reports" [colSetting]="true" [globalSearch]="true"
                  [export]="true" [reload]="true"></m-header>
        <m-footer [paginator]="true" [pageSize]="8" [pageSizeOptions]="[4, 8, 12]"></m-footer>
        <m-column field="name" header="Asset Name" [sortable]="true"></m-column>
        <m-column field="securityGoalValues" header="Security goal values" [sortable]="true"></m-column>
        <m-column field="securityMeasures" header="Security measures" [sortable]="true"></m-column>
      </m-table>
    </div>

    <div id="col1">
      Create / Update report
      <mat-card class="f">
        <mat-card-header class="firstform" color="primary">
          <mat-card-title>
            <button title="Click to create new report!" (click)="create();" mat-icon-button class="btn btn-outline-light">
              <mat-icon>add</mat-icon>
            </button> &nbsp;
            <button title="Click to update report!" (click)="edit();" mat-icon-button color="accent" class="btn btn-outline-light">
              <mat-icon>edit</mat-icon>
            </button> &nbsp;
            <button title="Click to delete report!" (click)="delete();" mat-icon-button color="warn" class="btn btn-outline-light">
              <mat-icon>delete</mat-icon>
            </button> &nbsp;
            <button title="Click to see reported assets!" (click)="filter();" mat-icon-button color="accent" class="btn btn-outline-light">
              <mat-icon>feedback</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content id="form">
          <form (submit)="submit()">
            <formly-form [model]="entity" [form]="form" [fields]="fields"></formly-form>
          </form>
        </mat-card-content>
        <mat-card-actions class="secondform">
          <button *ngIf="mode !== 'DETAILS'" type="submit" (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
