<div id="div1" *ngIf="entities">
  <div id="row1">
    <div id="tab1">
      List of all hardware assets
    <m-table id="table1" [value]=entities [selectable]="true" [selectionHandler]="true"
             [selectionMode]="'single'"  [(selection)]="selectedRows"
             (selectionChange)="rowSelected();">
      <m-header title="Hardware assets" [colSetting]="true" [globalSearch]="true"
                [export]="true" [reload]="true">
      </m-header>
      <m-footer [paginator]="true" [pageSize]="4" [pageSizeOptions]="[4, 8, 12]"></m-footer>
      <m-column field="name" header="Name" [sortable]="true"></m-column>
      <m-column field="description" header="Description" [sortable]="true"></m-column>
      <m-column field="macAddress" header="Mac Address" [sortable]="true"></m-column>
      <m-column field="ipAddress" header="IP Address" [sortable]="true"></m-column>
      <m-column field="serialNumber" header="Serial number" [sortable]="true"></m-column>
      <m-column field="model" header="Model" [sortable]="true"></m-column>
      <m-column field="operatingSystem" header="Operating system" [sortable]="true"></m-column>
      <m-column field="state" header="State" [sortable]="true"></m-column>
      <m-column field="type" header="Type" [sortable]="true"></m-column>
      <m-column field="created" header="Created" [sortable]="true">
        <ng-template let-col let-row="row" mTemplate="body">
          {{row.created | date : 'mediumDate'}}
        </ng-template>
      </m-column>
      <m-column field="location" header="Location" [sortable]="true">
        <ng-template let-col let-row="row" mTemplate="body">
          <p>{{row.location.building}} ({{row.location.room}})</p>
        </ng-template>
      </m-column>
      <m-column field="owner" header="Owner" [sortable]="true">
        <ng-template let-col let-row="row" mTemplate="body">
          <p title="Employee ID: {{row.owner.employeeId}}">{{row.owner.firstName}} {{row.owner.lastName}}</p>
        </ng-template>
      </m-column>
    </m-table>
    </div>

    <div id="col1">
      Create / Update hardware asset
      <mat-card class="f">
        <mat-card-header class="firstform" color="primary">
          <mat-card-title>
            <button title="Click to create new hardware asset!" (click)="create();" mat-icon-button class="btn btn-outline-light">
              <mat-icon>add</mat-icon>
            </button> &nbsp;
            <button title="Click to update hardware asset!" (click)="edit();" mat-icon-button color="accent" class="btn btn-outline-light">
              <mat-icon>edit</mat-icon>
            </button> &nbsp;
            <button title="Click to delete hardware asset!" (click)="delete();" mat-icon-button color="warn" class="btn btn-outline-light">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content id="form">
          <form (submit)="submit()">
            <formly-form [model]="entity" [form]="form" [fields]="fields"></formly-form>
            <mat-form-field id="selectType" *ngIf="mode !== 'DETAILS'">
              <mat-select placeholder="Type" name="type" [(ngModel)]="entity.type" #singleSelectType>
                <mat-option>
                  <ngx-mat-select-search [formControl]="selectFilterCtrlType"
                                         [placeholderLabel]="'Search for type'"
                                         [noEntriesFoundLabel]="'No matching type found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredSelectListType | async;let i = index" [value]="element">
                  <mat-checkbox [checked]="selectedType === i" (change)="selectedType = i"> {{element}}</mat-checkbox>
                </mat-option>
              </mat-select>
            </mat-form-field> &nbsp;
            <mat-form-field id="selectLocation" *ngIf="mode !== 'DETAILS'">
              <mat-select placeholder="Location" name="location" [(ngModel)]="entity.location">
                <mat-option>
                  <ngx-mat-select-search [formControl]="selectFilterCtrlLocation"
                                         [placeholderLabel]="'Search for location'"
                                         [noEntriesFoundLabel]="'No matching location found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredSelectListLocation | async;let i = index" [value]="element">
                  <mat-checkbox [checked]="selectedLocation === i" (change)="selectedLocation = i"> {{element.room}} [{{element.building}}]</mat-checkbox>
                </mat-option>
              </mat-select>
            </mat-form-field> &nbsp;
            <mat-form-field id="select" *ngIf="mode !== 'DETAILS'">
              <mat-select placeholder="Owner" name="owner" [(ngModel)]="entity.owner" #singleSelect>
                <mat-option>
                  <ngx-mat-select-search [formControl]="selectFilterCtrl"
                                         [placeholderLabel]="'Search for owner'"
                                         [noEntriesFoundLabel]="'No matching owner found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredSelectList | async;let i = index" [value]="element">
                  <mat-checkbox [checked]="selected === i" (change)="selected = i"> {{element.firstName}} {{element.lastName}}</mat-checkbox>
                </mat-option>
              </mat-select>
            </mat-form-field> &nbsp;
            <mat-form-field id="selectSecurityValues" *ngIf="mode !== 'DETAILS'">
              <mat-select placeholder="Security goal values" name="secGoalValues"
                          [multiple]="true" #multiSelect
                          [compareWith]="compareFunc"
                          [formControl]="multipleCtrl">
                <mat-option>
                  <ngx-mat-select-search [formControl]="selectFilterCtrlSecurityValues"
                                         [placeholderLabel]="'Search for goal values'"
                                         [noEntriesFoundLabel]="'No matching goal value found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredSelectListSecurityValues | async" [value]="element">
                  {{element.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions class="secondform">
          <button *ngIf="mode !== 'DETAILS'" type="submit" (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
        </mat-card-actions>
      </mat-card>
  </div>
  </div>

  <div id="row2">
    <hr>
    <div>
      List of security goal values in <i>{{entity.name}}</i> hardware asset
    <m-table id="table2" [value]=entity.securityGoalValues [selectable]="false" [selectionHandler]="false">
      <m-footer [paginator]="true" [pageSize]="2" [pageSizeOptions]="[2]">
        <ng-template>
          <button *ngIf="selectedRows.length > 0" title="Click to create new security goal value!" (click)="openDialog();" mat-icon-button class="btn btn-outline-success">
            <mat-icon>add</mat-icon>
          </button>
        </ng-template>
      </m-footer>
      <m-column field="name" header="Name" [sortable]="true"></m-column>
      <m-column field="description" header="Description" [sortable]="true"></m-column>
      <m-column field="securityGoal" header="Security Goal" [sortable]="true">
        <ng-template let-col let-row="row" mTemplate="body">
          {{row.securityGoal.name}}
        </ng-template>
      </m-column>
    </m-table>
    </div>
  </div>

</div>
